ul,
li,
a {
    text-decoration: none;
    list-style: none;
}

h1 {
    font-weight: 700;
}

/* Header */
header {}

.header {
    padding: 40px 0 30px 0;
    top: 0px;
    left: 0;
    width: 100%;
    overflow: hidden;

}

.price-table,
.carousell {
    background: rgb(244, 244, 252);
    padding: 10px;

}

.form-wrapper,
.header,
.steps,
.footer {
    background: linear-gradient(90deg, #e9e8d0, #84cfba, #50cee4);
}

a {
    color: #464646;
    font-style: normal;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.btn {
    background-color: blue;
}

.header-btn {
    border: 1px solid black;
    padding: 10px 30px 10px 20px;
    border-radius: 5px;
    width: 180px;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    margin-left: 36px;
    background-color: #fff;
}

.header-btn:hover {
    background-color: red;
    color: aliceblue;
}

.header-phone {
    display: block;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
}

/* Кнопка */
.whatsapp-button {
    position: fixed;
    right: 10%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    background: #25D366;
    /*цвет кнопки*/
    border-radius: 50%;
    width: 55px;
    /*ширина кнопки*/
    height: 55px;
    /*высота кнопки*/
    color: #fff;
    text-align: center;
    line-height: 53px;
    /*центровка иконки в кнопке*/
    font-size: 35px;
    /*размер иконки*/
    z-index: 9999;
}

.whatsapp-button a {
    color: #fff;
}

.whatsapp-button:before,
.whatsapp-button:after {
    content: " ";
    display: block;
    position: absolute;
    border: 50%;
    border: 1px solid #cd25d3;
    /*цвет анимированных волн от кнопки*/
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
    opacity: 0;
    backface-visibility: hidden;
}

.whatsapp-button:after {
    animation-delay: .5s;
}

@keyframes animate {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

/* кнопка завершается */
/* Медиа начало */
@media (min-width: 576px, max-width: 770px) {

    .container,
    .container-sm,
    .form {
        max-width: none;
    }


}

@media (max-width: 540px) {
    .header-list-call {
        text-align: center;
        display: inline;
        width: 100%;
    }
    .header {
        margin-bottom: -20px;
    }

    .logo {
        margin-bottom: 30px;
    }

    .header-phone {}

    .header-text {
        font-size: 20px;
    }

    .whatsapp-button {
        position: fixed;
        right: 0px;
        bottom: 520px;
    }
}

/* медиа конец */
.header-align {
    text-align: center;

}

.header-text {
    line-height: 1.2;
    max-width: 200px;
    font-weight: 700;
    text-align: left;
}

.header-menu-size {
    position: relative;
    width: 210px;
    background: linear-gradient(90deg, #e9e8d0, #90d1bf, #50cee4);
    cursor: pointer;
}

.header-menu-size:after {
    width: 210px;

    display: block;
    position: absolute;
    content: 'V';
    height: 20px;
    border: 1px solid grey;
    background: black;
}

.header-menu-size {}

.header-list-call {
    display: inline-block;
}

/* Форма */

.form {
    padding: 50px 0;
    overflow: hidden;
}

.form-image {
    margin-top: -50px;
}

.form-bg {
    max-width: 550px;
}

.phone {
    display: block;
    margin-bottom: -30px;
}



.form-send {
    margin-left: 90px;
}

.form-control {
    width: 40%;
    margin-left: 180px;
    margin-bottom: 30px;
}

.form-list {
    text-align: left;
    margin-left: -30px;
}

.form-item {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
    position: relative;
}

.form-item::before {
    content: '';
    background-color: red;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
}

.form-item::after {
    position: absolute;
    content: '';
    background-color: white;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: 5px;
    top: 15px;
}

form input[type="submit"] {
    background-color: rgb(248, 16, 16);
    border: none;
    color: white;
    border-radius: 5px;
    width: 150px;
    height: 46px;
}

form input[type="submit"]:hover {
    background-color: rgb(252, 89, 89);
    color: rgb(15, 8, 8);
    border: 1px solid rgb(22, 183, 189);
}

form input[type="text"] {
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid wheat;
    width: 300px;
    text-align: left;
}

.phone {
    display: none;
}

.g-3 {
    margin-right: -150px;
    display: flex;
    justify-content: left;
    align-content: space-between;
}

.g-3 input[type="text"] {
    margin-right: 20px;
    padding: 10px;
}


/* медиа начало */
@media (max-width: 576px) {

    .logo {
        margin-left: 30px;
    }
    h1 {
        margin-bottom: 30px;
    }
    .header-text {
        min-width: 330px;
    }

    .header {
        text-align: left;
    }

    .header-first {
        display: none;
    }

    .header-third {
        display: none;
    }

    .form-send {
        margin-left: 5px;
    }

    .phone {
        display: inline-block;
        margin-bottom: 20px;
        margin-left: -10px;
    }
    /* таблица */
    .price-table-hidden {
        display: none;
    }

    .form-control {
        width: 80%;
        margin-left: 30px;
        margin-bottom: 30px;
    }

    .form h2,
    .form h3,
    .form p,
    .form li {
        color: black;

    }

    .form h2 {
        font-size: 22px;
        max-width: 250px;
        text-align: center;
    }

    .form-bg {
        margin-bottom: 10px;
    }

    .form h2,
    .form h3,
    .form p,
    .form li {
        color: black;

    }

    .form-item::before {
        position: relative;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .form {
        background-image: none;
        padding-top: 0px;
    }

    .w-100 {
        margin-top: 20%;
    }

    .form-bg {
        text-align: center;

    }

    .form-list {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
    }

    .form-item {
        max-width: 170px;
        text-align: center;
        text-transform: none;
    }

    .form-item::after {
        position: absolute;

        left: 83px;
        top: 5px;
    }

    .g-3 {
        margin-right: 0;
        display: flex;
    }

    .header-text {
        line-height: 1.2;
        font-weight: 700;
        text-align: center;
    }

    .form-select {
        max-width: 100%;
    }

    .form-image {
        display: none;
    }

}
@media (max-width: 960px) {
    .form-image  {
        display: none;
    }
}
@media (min-width: 570px) {

    .form h2,
    .form h3,
    {
    padding-left: 20%;

}


}

/* медиа конец */


/* steps */

.steps h2 {
    text-align: center;
    margin-bottom: 30px;
}

.steps p {
    text-align: center;
}

.steps-item {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Карусель */
.carousel-item {
    min-height: 280px;
}

/* footer */
.footer-text {
    font-size: 20px;
    color: black;
    font-weight: 700;
}
